<div class="sitenavbar-padding">
  <div class="sitenavbar-container">
    <a href="/" style="text-decoration: none;">
      <h1 class="sitenavbar-logo">Bloggo</h1>
    </a>
    <ul class="sitenavbar-headers-navbar-list">
      <li class="sitenavbar-listitem"><a href="/create">Create</a></li>
      <li class="sitenavbar-listitem"><a href="/mission">Our Mission</a></li>
      <li class="sitenavbar-listitem"><a href="/about">About</a></li>
    </ul>
    <div id="sitenavbar-search" >
    </div>
  </div>

</div>