<div class="sitenavbar-padding">
  <div class="sitenavbar-container">
    <a href="/" style="text-decoration: none;">
      <h1 class="sitenavbar-logo">Bloggo</h1>
    </a>
    <ul class="sitenavbar-headers-navbar-list">
      <li class="sitenavbar-listitem"><a href="/create">Create</a></li>
      <li class="sitenavbar-listitem"><a href="/mission">Our Mission</a></li>
      <li class="sitenavbar-listitem"><a href="/about">About</a></li>
    </ul>
    <form id="sitenavbar-search" action="/search" method="post">
      <input class="sitenavbar-searchbar" type="text" name="search-text" placeholder="Search a blog">
      <button id="submit" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
          <path fill="currentColor" fill-rule="evenodd" d="M8 4a4 4 0 1 0 0 8a4 4 0 0 0 0-8M2 8a6 6 0 1 1 10.89 3.476l4.817 4.817a1 1 0 0 1-1.414 1.414l-4.816-4.816A6 6 0 0 1 2 8" clip-rule="evenodd" />
        </svg></button>
    </form>
  </div>

</div>