<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>

<div id="about-container">
  <div id="about-title-container">
    <h1>About</h1>
  </div>
  <div id="about-body-container">
    <p>
      Hey, I’m Sean. I’m a student and a beginner developer, and Bloggo is my first real web application.
    </p>
    </p>
    I started this project to practice web development and put everything I’ve been learning over the past couple of months into something functional. It’s simple and not trying to be anything huge, just a clean blogging platform where you can write and post without distractions.

    I built Bloggo from the ground up while teaching myself how to work with frontend and backend tools. It’s not perfect, but that’s kind of the point. This project helped me learn how to turn ideas into something real, and honestly, I’m pretty happy with how it turned out.
    </p>
  </div>
</div>


<%- include("partials/footer.ejs") %>