<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>

<div id="mission-container">
    <div id="mission-title-container">
        <h1>Our Mission</h1>
    </div>
    <div id="mission-body-container">
        <p>
          Hey, I’m building Bloggo because I just wanted a simple way to write online without all the extra junk. Most platforms feel bloated, overly complicated, or focused on things that don’t really matter like chasing followers, optimizing for clicks, or gaming algorithms. I didn’t want any of that.
        </p>
        </p>
          Bloggo is my take on how blogging should feel: clean, personal, and easy to use. No pressure to perform, no endless settings to tweak. Just you, your thoughts, and a place to put them.

          I’m just one person working on this, so it’s not perfect but that’s kind of the point. I’m building this for people like me who just want a chill space to write, share ideas, or keep a digital journal without needing a whole content strategy. If that sounds like something you’ve been looking for, welcome aboard!
        </p>
    </div>
    
</div>


<%- include("partials/footer.ejs") %>