body {
    background-color: #FFDCDC !important;
    font-family: 'Playfair Display SC', serif !important;
}

#navigationbar {
    opacity: 0 !important;
    transform: translateY(-25%) !important;
    transition: opacity 3   s ease-out, transform 2s ease-out;
}

#navigationbar.visible {
    opacity: 1 !important;
    transform: translateY(0) !important;
}
