html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/Frame\ 1.png");
    background-size: cover;
}

main {
    width: 100%;
    height: 100%;
}

h1 {
    margin: 0;
}

.sitenavbar-padding {
    padding: 1.75rem 3rem;
}

.sitenavbar-container {
    display: flex;
    flex-direction: row;
    box-shadow: 15px 10px 5px #0B1F35;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.sitenavbar-logo {
    color: #87CEFA;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sitenavbar-navcontainer {
    display: flex;
    flex-direction: row;
}

.sitenavbar-headers-navbar-list {
    width: fit-content;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 7rem;
    padding: 0;
}

.sitenavbar-listitem {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sitenavbar-listitem a {
    text-decoration: none;
    color: #87CEFA;
}

.sitenavbar-listitem a:hover {
    color: antiquewhite;
}

#sitenavbar-search {
    display: flex;
    justify-content: center;
}

.sitenavbar-searchbar {
    border-radius: 10px 0 0 10px;
    background-color: white;
    border-color: transparent;
}

#submit {
    background-color: #87CEFA;
    border-width: 1px 1px 1px 0;
    border-radius: 0 10px 10px 0;
    border-color: transparent;
}

#submit:hover {
    background-color: antiquewhite;
    cursor: pointer;
}

#homepage-container {
    background:
        linear-gradient(217deg, rgba(255, 100, 200, 0.4), rgba(255, 100, 200, 0) 70.71%),
        linear-gradient(127deg, rgba(140, 0, 255, 0.3), rgba(140, 0, 255, 0) 70.71%),
        linear-gradient(336deg, rgba(0, 255, 200, 0.2), rgba(0, 255, 200, 0) 70.71%);
    position: relative;
    left: 10rem;
    top: 5rem;
    border-radius: 10px;
    width: 41rem;
    height: 25rem;
    overflow: hidden;
    overflow-y: scroll;
}

#homepage-container::-webkit-scrollbar {
    width: 0;
}

#homepage-container hr {
    width: 7.5rem;
    height: 0.1rem;
    border-radius: 10px;
    background-color: #FB9E3A;
}

.blog-item {
    display: block;
    padding: 1rem 2rem;
}

.blog-item h1,
.blog-item p {
    color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.blog-item h1:hover {
    color: aquamarine;
}

.blog-item a {
    text-decoration: none;
}

form[action="/submit"] {
    position: relative;
    top: 5rem;
    left: 10rem;
    width: 40rem;
    background:
        linear-gradient(217deg, rgba(255, 100, 200, 0.4), rgba(255, 100, 200, 0) 70.71%),
        linear-gradient(127deg, rgba(140, 0, 255, 0.3), rgba(140, 0, 255, 0) 70.71%),
        linear-gradient(336deg, rgba(0, 255, 200, 0.2), rgba(0, 255, 200, 0) 70.71%);
    border-radius: 10px;
    padding-bottom: 2rem;
}

form[action="/submit"] label {
    padding-top: 1rem;
    color: antiquewhite;
    text-align: center;
    opacity: 90%;
}

form[action="/submit"] input,
form[action="/submit"] textarea {
    width: 90%;
    margin: 0 auto;
    padding: 0;
    border-radius: 5px;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    border-width: 0.25rem;
    border-color: rgba(0, 0, 0, 0.1);
    box-shadow: 10px 5px 5px black;
    background-color: transparent;
    color: antiquewhite;
}

form[action="/submit"] button {
    margin: 0 auto;
    margin-top: 1.5rem;
    border: 0;
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 1rem;
}

form[action="/submit"] * {
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#individualBlog-container {
    width: 35rem;
    height: 30rem;
    line-height: 1.5rem;
    position: relative;
    top: 2rem;
    left: 10rem;
    background:
        linear-gradient(217deg, rgba(255, 100, 200, 0.4), rgba(255, 100, 200, 0) 70.71%),
        linear-gradient(127deg, rgba(140, 0, 255, 0.3), rgba(140, 0, 255, 0) 70.71%),
        linear-gradient(336deg, rgba(0, 255, 200, 0.2), rgba(0, 255, 200, 0) 70.71%);
    border-radius: 20px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 1rem 0.5rem 0rem 1rem;
}

#individualBlog-container h1,
#individualBlog-container p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: antiquewhite;

}

#individualBlog-container::-webkit-scrollbar {
    width: 0;
}

#edit-delete-container {
    position: relative;
    width: fit-content;
    bottom: 20rem;
    left: 47.5rem;
}

#edit-delete-container button {
    width: 5rem;
    border: 0;
    border-radius: 10px;
    margin-top: 1rem;
    padding: 1rem 0 1rem 0;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: antiquewhite;
    background:
        linear-gradient(217deg, rgba(255, 100, 200, 0.4), rgba(255, 100, 200, 0) 70.71%),
        linear-gradient(127deg, rgba(140, 0, 255, 0.3), rgba(140, 0, 255, 0) 70.71%),
        linear-gradient(336deg, rgba(0, 255, 200, 0.2), rgba(0, 255, 200, 0) 70.71%);
}